* {
    margin: 0%;
    padding: 0%;

    user-select: none;
}


body {
    background-color: #C6E5FB;}

.MainPageBar {
    margin: 5vw auto 0 auto;
    width: 90vw;
    height: 17.77vw;

    background-color: white;
    border-radius: 17.77vw;
}

#MainPageLogo {
    position: relative;
    width: 11.11vw;

    left: 3.33vw;
    top: 3.33vw;
}

#MainPageMenu {
    position: relative;
    float: right;
    width: 7.77vw;

    right: 6.11vw;
    top: 5.55vw;
}

#SideMenu {
    position: fixed;
    width: 71vw;
    height: 100vh;

    top: 0%;

    background-color: #fff; <!--#279eff-->
    border-top-left-radius: 4vh;
    border-bottom-left-radius: 4vh;

    transition: 0.5s;
    overflow-y: auto;
    overflow-x: hidden;
}

#SideMenu::-webkit-scrollbar{
    display: none;
}

#SidePageMenu {
    position: relative;
    width: 7.77vw;

    top: 8.88vw;
    left: 8.88vw;
}

#SidePageMenuBar {
    position: sticky;

    top: 0%;

    width: 71vw;
    height: 16.66vw;
    padding-bottom: 4.44vw;

    background-color: #279eff;
    z-index: 100;
}


.show {
    right: 0vw;}

.hide {
    right: -71vw;}

.linked_text {
    background-color:transparent;
    border: none;

    color: white;
}

.dropdown-button {
    background: transparent;
    border: none;

    color: white;
    font-size: 8.88vw;
}

.dropdown-content {
    display: none;
}

/* 드롭다운 메뉴가 펼쳐질 때의 스타일 */
.dropdown-content.active {
    display: block;
}

.dropdown_detail {
    color: #C6E5FB;
    list-style-type: none;
    text-decoration: none;

    font-size: 6.66vw;
}

a {
    text-decoration: none;
}

.dropdown {
    position: relative;

    top: -4.44vw;
    left: 8.88vw;
}

ul, li {
    list-style: none;
    text-decoration: none;
}


.big_categories {
    margin-top: 8.88vw;
}

.small_categories {
    margin-top: 3.33vw;
    margin-left: 8.88vw;
}
